<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Admin Home</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: left">
    <nav>
        <div class = "logo" id = "logo">
            <a href= "/" class = "logo">
            <img src = "/DisasterReliefUiowaOldGold-06.png" alt = "DAMS Logo"/>
            </a>
        </div>
        <ul>
            <li><a href= "/createEvent"> Create An Event </a></li>
            <li><a href = "/viewEvent">Event Page</a></li>
            <li><a href = "/donorQ">Donor Queue</a></li>
            <li><a href="/requestQ"> Request Queue </a></li>
            <li><a href="/authenticate/logout"> Logout </a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class = "row">
            <div class = "col-4">
                 <div class = "card">
                     <div class = "card-header"></div>
                        <div class = "avatar-ctn">
                            <img src = "/DisasterReliefUiowaOldGold-07.png" class = "avatar" alt = "user pfp">
                        </div>
                        <div class = "card-body">
                             <h5 class = "card-title"> Hey {{user.UserName}}! </h5>
                             <p class = "card-text">Your Role is An: {{user.role}}</p>
                             <p class = "card-text" >Zipcode: {{user.zipcode}}</p>
                            <p class = "card-text"> Email: {{user.email}}</p>
                            </div>
                                <div class = "card-footer"></div>
                    </div>
            </div>
            <div class ="col-8">
                <div class = "card text-left">
                    <div class = "card-header">
                      {{user.UserName}}'s Profile Page
                    </div>  
                        <div class = "card-body">
                            <h5 class = "card-title"> Your Role As An {{user.role}}: </h5>
                            <p class = "card-text"> Our admin role is reserved for those who do not have disposables on hand but would still like to voulunteer and offer a helping hand. With this role, you will be able to manually match a donor-recipient pair, as well as create events for potential and occuring disaster hotspots. </p>
                        </div>
                    <div class = "card-footer text-center">
                        <h7>Your User ID is: #{{user.id}}</h7>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> 
</body>
</html>