<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Current Events</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: left">
    <nav>
        <div class = "logo" id = "logo">
            <a href= "/" class = "logo">
            <img src = "/DisasterReliefUiowaOldGold-06.png" alt = "DAMS Logo"/>
            </a>
        </div>
        <ul>
            <li><a href="/recipient"> Profile </a></li>
            <li><a href="/donorRQ"> Make a Request </a></li>
            <li><a href="../authenticate/logout"> Logout </a></li>
        </ul>
    </nav>

    <div class="container mt-4">
      <form action = "/authenticate/searchrecepPQ" method = "POST">
            <label for = "pledgezip">Search Pledge Zip:</label>
            <input type = "search" id = "pledgezip" id = "pledgezip" name = "pledgezip" placeholder="Enter Zip">
            <button type = "GO" class = "btn btn-primary">Search</button>
            </form>
            <label for = "Uid">Your UserID is: {{user.id}}</label>
        
            {{#each pledge & user}}
                 <div class = "card-body">
                     <div class = "card">
                         <div class = "card-header"></div>
                         <div class = "card-body">
                             <h3 class = "card-title">User: {{this.UserName}}</h3>
                             <hr class="my-4">
                             <h5 class = "card-title"> Pledge Title: {{this.pledge}} </h5>
                             <h5 class = "card-title"> Pledge Type: {{this.type}}</h5>
                             <h5 class = "card-title"> Pledge Item: {{this.item}}, Qty: {{this.quantity}}</h5>
                             <h5 class = "card-title">State: {{this.state}}, City {{this.city}}, Zipcode: {{this.pledgezip}}</h5>
                         </div>
                          <h8 class = "card-footer text-center"> Pledge ID: {{this.id}} </h5>
                          <form action = "/authenticate/recepConnect" method = "POST">
                          <input type = "hidden" id = "id" name = "id" value = {{this.id}}>
                          <input type = "Uid" id = "Uid" name = "Uid" placeholder="Enter Your UserID" value = {{user.id}}>
                          <button type = "connect" class = "btn btn-primary">Accept Pledge</button>
                          </form>
                     </div>
                 </div>                
            {{/each}}
            
           
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>