<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Recipient Home</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: left">
    <nav>
        <div class = "logo" id = "logo">
            <a href= "/" class = "logo">
            <img src = "/DisasterReliefUiowaOldGold-06.png" alt = "DAMS Logo"/>
            </a>
        </div>
        <ul>
            <li><a href= "/"> View Pledges </a></li>
            <li><a href = "/request">Create A Request</a></li>
            <li><a href="/authenticate/logout"> Logout </a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class = "row">
            <div class = "col-4">
                 <div class = "card">
                     <div class = "card-header"></div>
            <div class = "avatar-ctn">
                <img src = "/default.png" class = "avatar" alt = "user pfp">
            </div>
        <div class = "card-body">
            <h5 class = "card-title"> Hey {{user.UserName}}! </h5>
                <p class = "card-text">Your role is a/an: {{user.role}}</p>
                 <p class = "card-text">Zipcode: {{user.zipcode}}</p>
                <p class = "card-text">Email: {{user.email}}</p>
                </div>
                <div class = "card-footer"></div>
              </div>
            </div>

            <div class ="col-8">
                <div class = "card text-left">
                  <div class = "card-header">
                      {{user.UserName}}'s Profile Page
                    </div>  
                    <div class = "card-body">
                        <h5 class = "card-title"> Your role as a {{user.role}}: </h5>
                        <p class = "card-text"> Our recipient role is for those affected by natures fury. Those who are in need of assistance will be able to find pledged resources such as; food, clothing, shelter, medicines, medical help, and various common consoumables. Anyone who has this role will also be able to submit request based on thier current needs for a donor to fufill. </p>
                    </div>
                    <div class = "card-footer text-center">
                      <h6>Your id is: #{{user.id}}</h6>
                            </div>
                        </div>
              <br>       
                      
                 <div class ="col-12">
                     <div class = "card text-left">
                         <div class = "card-header">
                              {{user.UserName}}'s Recent Requests:
                         </div>
                         <div class = "card-body">



                         </div>
                          <div class = "card-footer text-center">

                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
       
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
</body>
</html>