<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Current Events</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: left">
    <nav>
        <div class = "logo" id = "logo">
            <a href= "/" class = "logo">
            <img src = "/DisasterReliefUiowaOldGold-06.png" alt = "DAMS Logo"/>
            </a>
        </div>
        <ul>
            <li><a href="/admin"> Profile </a></li>
            <li><a href= "/createEvent">Create an Event</a></li>
            <li><a href="/donorQ"> Donor Queue </a></li>
            <li><a href="../authenticate/logout"> Logout </a></li>
        </ul>
    </nav>

    <div class="container mt-4">
       <form action = "/authenticate/searchrequestQ" method = "POST">
           <label for = "requestzip">Search Request</label>
           <input type = "search" id = "requestzip" id = "requestzip" name = "requestzip" placeholder="Enter Zip">
           <button type = "GO" class = "btn btn-primary">Search</button>
       </form>
            {{#each request}}
                 <div class = "card-body">
                     <div class = "card">
                         <div class = "card-header"></div>
                         <div class = "card-body">
                             <h3 class = "card-title">User: {{this.UserName}}</h3>
                             <hr class="my-4">
                             <h5 class = "card-title"> Pledge Title: {{this.pledge}} </h5>
                             <h5 class = "card-title"> Pledge Type: {{this.type}}</h5>
                             <h5 class = "card-title"> Pledge Item: {{this.item}}, Qty: {{this.quantity}}</h5>
                             <h5 class = "card-title">State: {{this.state}}, City {{this.city}}, Zipcode: {{this.requestzip}}</h5>
                         </div>
                          <h8 class = "card-footer text-center"> Event ID: {{this.id}} </h5>
                     </div>
                 </div>
                                    
            {{/each}}
            
            
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>