<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Current Events</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: left">
    <nav>
        <h4>Current Events</h4>
        <ul>
            <li><a href="/admin"> Profile </a></li>
            <li><a href= "/createEvent">Create an Event</a></li>
            <li><a href="/"> Donor Queue </a></li>
            <li><a href="/"> Request Queue </a></li>
            <li><a href="../authenticate/logout"> logout </a></li>
        </ul>
    </nav>

     <div class="container mt-3">
       <div class="jumbotron">
            <h1 class="display-4">Event: {{event.EventName}}</h1>
            <h2 class="lead"> Event Type: {{event.type}} </h2>
            <h2 class= "lead"> Date: {{event.date}} </h2>
            <h2 class ="lead"> State: {{event.state}}, City: {{event.city}}, Zipcode: {{event.eventzip}} </h2>
            <hr class="my-4">
            <h1 class = "lead"> Description: <br> <br> {{event.description}} </h1>
            
</div> 

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>